{
  "presets": [
    "es2015",
    "stage-0",
    "babel-preset-flow"
  ],
  "plugins": [
    [
      "remove-code",
      {
        "debugger": true,
        "var": [
          "ENTERPEDIT"
        ],
        "export": [
          "ENTERPEDIT"
        ],
        "import": [
          "ENTERPEDIT"
        ],
        "function": [
          "ENTERPEDIT"
        ]
      }
    ]
  ],
  "sourceMaps": true,
  "retainLines": true
}